<a href="https://colab.research.google.com/github/BetoHammerle/BetoHammerle/blob/main/DataCleaning_Modelo_de_Blocos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importar pacotes: pandas e numpy

In [ ]:
import numpy as np  
import pandas as pd

importar modelo de blocos (.CSV)

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving MS_vertices.csv to MS_vertices.csv

Definir Dataframe

In [ ]:
df = pd.read_csv('MS_vertices.csv')
df

                    x             y      z
0       319013.221062  7.892874e+06  890.0
1       318913.131551  7.892874e+06  890.0
2       318813.042040  7.892874e+06  890.0
3       319013.221062  7.892973e+06  890.0
4       318913.131551  7.892973e+06  890.0
...               ...           ...    ...
161678  319023.302082  7.893227e+06  890.0
161679  319024.686863  7.893225e+06  890.0
161680  319026.362292  7.893222e+06  890.0
161681  319027.747073  7.893220e+06  890.0
161682  319029.422502  7.893217e+06  890.0

[161683 rows x 3 columns]

Reduzir densidade dos data points. Tira os pares da colunas 1

In [ ]:
df1 = df[np.arange(len(df)) % 2 == 0]
df1

    Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  ... TI_GLOBAL CA_GLOBAL Density
0            0             0               0  ...     FLOAT     FLOAT   FLOAT
2            2             8               6  ...       NaN       NaN     2.6
4            4            16              14  ...       NaN       NaN     2.6
6            6            24              22  ...       NaN       NaN     2.6
8            8            32              30  ...       NaN       NaN     2.6
10          10            40              38  ...       NaN       NaN     2.6
12          12            48              46  ...       NaN       NaN     2.6

[7 rows x 73 columns]

In [ ]:
from google.colab import files
df1.to_csv ('Modelo_de_Blocos_Longo_Prazo_DEMO3.csv')
files.download('Modelo_de_Blocos_Longo_Prazo_DEMO3.csv')