<a href="https://colab.research.google.com/github/BetoHammerle/BetoHammerle/blob/main/Tratamento_Modelo_Yara.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np  
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving pontos_geologia.csv to pontos_geologia.csv

In [ ]:
df = pd.read_csv ('pontos_geologia.csv', header=0)  
df

In [ ]:
df1 = pd.read_csv ('pontos_geologia.csv', header=0)   
df1

In [ ]:
df1['classe']='geologia' 
df1

         Unnamed: 0              x             y           z    classe
0                 0  318633.170237  7.893053e+06  885.400550  geologia
1                 1  318633.170237  7.893055e+06  885.400550  geologia
2                 2  318633.170237  7.893057e+06  885.400550  geologia
3                 3  318633.170237  7.893059e+06  885.400550  geologia
4                 4  318635.145336  7.893053e+06  885.400550  geologia
...             ...            ...           ...         ...       ...
3381961     3381961  318844.523604  7.893191e+06  911.700508  geologia
3381962     3381962  318844.523604  7.893191e+06  911.700508  geologia
3381963     3381963  318844.523604  7.893192e+06  911.700508  geologia
3381964     3381964  318844.947725  7.893191e+06  911.700508  geologia
3381965     3381965  318844.947725  7.893192e+06  911.700508  geologia

[3381966 rows x 5 columns]

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving pontos_barragem (1).csv to pontos_barragem (1).csv

In [ ]:
df2 = pd.read_csv('pontos_barragem (1).csv',header=0) 
df2

        Unnamed: 0            x            y           z       feicao
0                0  318701.1433  7893181.421  897.674764  enrocamento
1                1  318701.1433  7893181.686  897.674764  enrocamento
2                2  318701.1433  7893181.951  897.674764  enrocamento
3                3  318701.1433  7893182.216  897.674764  enrocamento
4                4  318701.4083  7893181.421  897.674764  enrocamento
...            ...          ...          ...         ...          ...
448814      448814  318768.8563  7893121.581  901.242402      colchao
448815      448815  318768.8563  7893122.010  901.242402      colchao
448816      448816  318768.8563  7893122.440  901.242402      colchao
448817      448817  318769.2855  7893122.010  901.242402      colchao
448818      448818  318769.2855  7893122.440  901.242402      colchao

[448819 rows x 5 columns]

In [ ]:
  df3 = pd.read_csv('pontos_barragem (1).csv',header=0) 
  df3.rename({'feicao':'classe'}, axis=1,inplace=True)
df3

        Unnamed: 0            x            y           z       classe
0                0  318701.1433  7893181.421  897.674764  enrocamento
1                1  318701.1433  7893181.686  897.674764  enrocamento
2                2  318701.1433  7893181.951  897.674764  enrocamento
3                3  318701.1433  7893182.216  897.674764  enrocamento
4                4  318701.4083  7893181.421  897.674764  enrocamento
...            ...          ...          ...         ...          ...
448814      448814  318768.8563  7893121.581  901.242402      colchao
448815      448815  318768.8563  7893122.010  901.242402      colchao
448816      448816  318768.8563  7893122.440  901.242402      colchao
448817      448817  318769.2855  7893122.010  901.242402      colchao
448818      448818  318769.2855  7893122.440  901.242402      colchao

[448819 rows x 5 columns]

In [ ]:
frames = [df1,df3]  
df.merged = pd.concat(frames)
df4=df.merged 
df4

        Unnamed: 0              x             y           z    classe
0                0  318633.170237  7.893053e+06  885.400550  geologia
1                1  318633.170237  7.893055e+06  885.400550  geologia
2                2  318633.170237  7.893057e+06  885.400550  geologia
3                3  318633.170237  7.893059e+06  885.400550  geologia
4                4  318635.145336  7.893053e+06  885.400550  geologia
...            ...            ...           ...         ...       ...
448814      448814  318768.856300  7.893122e+06  901.242402   colchao
448815      448815  318768.856300  7.893122e+06  901.242402   colchao
448816      448816  318768.856300  7.893122e+06  901.242402   colchao
448817      448817  318769.285500  7.893122e+06  901.242402   colchao
448818      448818  318769.285500  7.893122e+06  901.242402   colchao

[3830785 rows x 5 columns]

In [ ]:
from google.colab import files  
df4.to_csv('pontos_consolidados.csv') 
files.download('pontos_consolidados.csv')